@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.275s ease;
  font-weight: 100;
  font-size: 0.9rem;
}

a:hover {
  opacity: 0.8;
}

.App {
  background-color: #111;
  padding-bottom: 1.5rem;
  font-family: Roboto;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:focus {
  border: none;
  outline: none;
}
